.cHQdJ {
    position: relative;
    margin: 0px 0.25rem 0.25rem;
}

.gcIrqH {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
}
.jlhVkr {
    display: flex;
    flex-direction: column;
    width: 220px;
    min-height: 280px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 24px 20px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.hemwwv {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.dyJMbD {
    font-size: 30px;
    font-weight: 800;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
}
.ebTNMh {
    font-size: 14px;
    color: rgb(164, 167, 181);
    margin-left: 8px;
}
svg:not(:root) {
    overflow: hidden;
}
 
.flUzcH {
    color: rgb(26, 162, 135);
    margin-right: 16px;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}
.dHKZej {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 12px;
}
.ePltAh {
    font-family: "Lato Bold", Arial, sans-serif;
    width: 100%;
}

.pricing-2{
    width: 20% !important;
}
::selection {
    background: #d8edff;
    text-shadow: none;
    color: #3e3e3c;
}