.cHQdJ {
   
    margin: 0px 0.25rem 0.25rem;
    height: 100% !important;
    font-family: 'Lato', Arial, sans-serif;
}

.gcIrqH {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
}
.jlhVkr {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100%;   
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 12px 20px;
    border-radius: 12px;
    outline-width: thin;
    border: 1px solid green;
    background-color: rgb(255, 255, 255);    
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}
.container-31 {
   
    padding-left: 12px !important; 
    padding-right: 12px !important; 
}
.hemwwv {
    font-size: 18px;
    font-weight: normal !important;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.dyJMbD {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
}


.ebTNMh {
    font-size: 14px;
    color: rgb(164, 167, 181);
    margin-left: 8px;
}
svg:not(:root) {
    overflow: hidden;
}
 
.flUzcH {
    color: rgb(26, 162, 135);
    margin-right: 16px;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}
.dHKZej {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 12px;
}
.ePltAh {
    font-family: "Lato Bold", Arial, sans-serif;
    width: 100%;
}

/* ::selection {
    background: #d8edff;
    text-shadow: none;
    color: #3e3e3c;
} */

.flex-container {
    display: flex;
    flex-direction: row;
}
.items{
    display: flex;
}

.right {
    right: 1rem;
}
.left {
    left: 0.5rem;

}
.card-game__cards {
    padding: 1em 0;
    overflow: hidden;
    display: flex;
    position: relative;
}
.pricing-2{
    min-width: 20% !important;
    margin: 2px !important;
    border-radius: 25px !important;
    border: 2px solid #73AD21 !important;
    padding: 10px !important;
}

.button-fluid-2 , .medium.button-fluid-2{
    margin-right: auto;
    width: 96% !important;
}

label {
    font-weight: normal !important;
}

.fJlsIf {
    font-size: 14px;
}
.card-game__cards .scrollbutton {
    background-color: transparent;   
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #191142;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100%;
    border: 1.5px solid #191142;
}

.card-game__cards ul.card-game__cards-list {
    display: flex;
    width: 100%;   
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    list-style: none;
    padding: 0px;
}